/* to make the square div and create new input div */
.squareInput {
    width: 200px;
    height: 200px;
    left: 20px;
    background-color:  #39cdf3;
    color: #fff;
    display: inline-block;
    text-align: center;
    position: relative;
    border-radius: 10px;

}
/*for button to open new input tags*/
.squareInput1 {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    left: 30px;
    padding: 5px;
    background-color:  #f6803d;
    color: #fff;
    display: inline-block;
    text-align: center;
    position: relative;
    margin-top: 5px;
}
.cross:before{
 
  position: absolute;
  content: '\02612';
  font-size: 77px;
  width: 68px;
  color: white;
  height: 50px;
  top: 20px;
  left: 66px;

}
.insideblock{
  background-color:#a0d638;
  font-size: 30px;
  padding: 0px 20px;
  position: absolute;
  top: 39%;
  left: 35%;
  border-radius: 10px;
}

.btnedit{
      background-color:   #a0d638;
}

.addCursor{
  cursor: pointer;
  margin-top: 15px;
}
label{
  display: block;
}

.crossClose p {
  padding-top: 20px;
}
.block{
  padding-left: 12px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 15px;
}
/*place the close circular div at top-right corner */
#exit{
  margin-left: 86px;
  color:white;
}
.crossClose{
  height: 30px;
  width: 30px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  margin-top:-16px;
  position:absolute;
}
/*-----------------------------*/
.content{
  margin-top: 50px;
}
input{
    border-radius: 2px;
}
